/**/dist/**
/**/*flymake.hs
/**/*.hs~
/**/.cabal-sandbox/**
/myneuralnet/.idea/.name
/myneuralnet/.idea/compiler.xml
/myneuralnet/.idea/encodings.xml
/myneuralnet/.idea/misc.xml
/myneuralnet/.idea/modules.xml
/myneuralnet/.idea/scopes/scope_settings.xml
/myneuralnet/.idea/vcs.xml
/myneuralnet/.idea/workspace.xml
