/lenses/.cabal-sandbox
/lenses/dist
/lenses/dist/
/lenses/Main_flymake.hs
/**/dist/**
/**/*flymake.hs
/**/*.hs~
/**/.cabal-sandbox/**

/OracleConnect/OracleConnect.cabal~
/OracleConnect/#Main.hs#
/OracleConnect/#_assh_bosiris_b_ahome_anwosug_adev_ahaskell_aOracleConnect_aMain.hs#
